

    <!--Footer-->
      <footer class="page-footer font-small blue pt-4 mt-4">
        <!--Footer Links-->
          <div class="container text-md-left">
            
            <div class="row">
              <!--First column-->
              <div class="col-md-3">
                <h5 class="text-uppercase text-center">Footer Content</h5>
                <p>Here you can use rows and columns here to organize your footer content.</p>
              </div>
              <!--/.First column-->
          
              <!--Second column-->
              <div class="col-md-3">
                <h5 class="text-uppercase text-center">Footer Content</h5>
                <p>Here you can use rows and columns here to organize your footer content.</p>
              </div>
              <!--/.Second column-->
              
              <!--Third column-->
              <div class="col-md-3">
                <h5 class="text-uppercase text-center">Footer Content</h5>
                <p>Here you can use rows and columns here to organize your footer content.</p>
              </div>
              <!--/.Third column-->
              
              <!--Fourth column-->
              <div class="col-md-3">
                <h5 class="text-uppercase">Links(logo goes here!)</h5>
                <ul class="list-unstyled">
                  <li><a href="#!">Weibo</a></li>
                  <li><a href="#!">Linkedin</a></li>
                  <li><a href="#!">Facebook</a></li>
                  <li><a href="#!">Flicker</a></li>
                </ul>
              </div>
              <!--/.Fourth column-->
            </div>
          </div>
        <!--/.Footer Links-->
          
      <!--Contact info-->
      <div class = "footer-contact text-center">
        <div class = "containter-fluid">
          <p>2421 Pennsylvania Ave.NW Washington,DC 20037-1718 USA</p>
          <p>TeL 202-822-2141 Email: ifce@ifce.org</p>
        </div>
      </div>
      
      <!--Copyright-->
      <div class="footer-copyright py-3 text-center">
        <div class="container-fluid">
          © 2018 Copyright: <a href="http://ifce.org"> International Fund for China's Environment </a>
        </div>
      </div>
      <!--/.Copyright-->
    </footer>
    <!--/.Footer-->
    </body>
</html>