
      </main>
      <!--Footer-->
      <footer class="page-footer font-small pt-0 bg-dark text-light">
          <!--Footer Links-->
          <div class="container mt-5 mb-4 text-center text-md-left"  style="padding-top:10px;">
              <div class="row mt-3">
      
                  <!--First column-->
                  <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                      <h6 class="text-uppercase font-weight-bold">
                          <strong>国际中国环境基金会</strong>
                          <!--<strong>IFCE</strong>-->
                      </h6>
                      <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 160px;">
                      <p>2421 Pennsylvania Ave.NW</p>
                      <p>Washington,DC 20037-1718 USA</p>
                      <p><i class="fa fa-phone"></i>  202-822-2141</p>
                      <p><i class="far fa-envelope"></i>  ifce.adm@gmail.com</p>
                  </div>
                  <!--/.First column-->
      
                  <!--Second column-->
                  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                      <h6 class="text-uppercase font-weight-bold">
                          <strong>相关链接</strong>
                      </h6>
                      <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 160px;">
                  </div>
                  <!--/.Second column-->
      
                  <!--Third column-->
                  <div class="col-md-4 col-lg-3 col-xl-3">
                      <h6 class="text-uppercase font-weight-bold">
                          <strong>在社交媒体上关注我们</strong>
                      </h6>
                      <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 160px;">
                      <p>
                        <a href="https://www.weibo.com/3800404295/profile"><i class="fab fa-weibo"></i> Sina Weibo</a>
                      </p>
                      <p>
                        <a href="https://www.facebook.com/InternationalFundForChinasEnvironment"><i class="fab fa-facebook-square"></i> Facebook</a>
                      </p>
                      <p>
                        <a href="https://www.linkedin.com/company/the-international-fund-for-china's-environment/"><i class="fab fa-linkedin"></i> Linkedin</a>
                      </p>
                      <p>
                        <a href="#!"><i class="fab fa-flickr"></i> Flickr</a>
                      </p>
                  </div>
                  <!--/.Third column-->
      
                  <!--Fourth column-->
                  <div class="col-md-4 col-lg-3 col-xl-3">
                      <h6 class="text-uppercase font-weight-bold">
                          <strong>扫一扫关注微信</strong>
                      </h6>
                      <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 160px;">
                      <img style="max-width:70%; height:auto" src="https://lh3.googleusercontent.com/ADy3111pHoH6IqOerftxKs7KaXM7J48hh3LzSTYi2O8v5ANSr_05qaFLXRwTGE0QkwECOHBmDlBHWkw-GEkhen9fszAxD9OthdpWF-QAu9dI-xZOiroX2AtH-whgWT_kcDms2kj4qValGR48cBKwOIrkza1AW64DCW5S1A4WLC0H0qqVmKz0AyfOqrx9QrHEsyzTWOMMW5nupluFz5tG455AElXeGPBTuVHMt7aVd4Te_NP3MDE6oramqk2Cnacxr59V3XbnoVj9pf-lJgc5wlCjSjyCSMb8yTiEsE6B64kJcYi1JTU-j2VTJ20tTtXn7XwQscEYxDhfSuEKXbNwy4mLk-etxQQ17qH8G7GgZIzTvoOH6CDwRAxpsX_EYoGNy-SUr2XxYFMW08TNjlD6Mk0hKjcFplT703eN1dw_G1DtX3iqzXGoQhjaVD5ZHBuCX5Nb7bZX84UK1wyTiGnAXG6gB43pou8bBqVOlZGWLffU2d2l-OYqqKxnaCwk0uAKE7xXJdsZjYoKnfBuvkOqFpidZ2BfcpwH5zm3AIbaTujk2f9viVuLnubfZ9i9fDTlu-BxqUuYMekSYRYrG7f9i3RnJpTYT4_T9uZzyQ=w261-h264-no">
                  </div>
                  <!--/.Fourth column-->
      
              </div>
          </div>
          <!--/.Footer Links-->
      
          <!-- Copyright-->
          <div class="footer-copyright py-3 text-center">
              © 2018 版权所有:
              <a href="http://ifce.org">
                  <strong>国际中国环境基金会</strong>
              </a>
          </div>
          <!--/.Copyright -->
      
      </footer>
      <!--/.Footer-->
    </body>
</html>