<% include partials/header %>


<div class="container">
    <h1>IFCE管理页面</h1>
    <p>想添加或编辑英文页面，请点选左面英文按钮。想添加或编辑中文页面，请点选右面中文按钮。</p>
    <hr>
    <p>
        <a href="/programs/new">
            <button class = "btn btn-md btn-primary">Add New Program</button>
        </a>
        <!--添加中文项目-->
        <a href="/zh/programs/new" class="float-right">
            <button class = "btn btn-md btn-primary">添加中文项目！</button>
        </a>
    </p>
    <hr>
    <h3>Edit IFCE Resources Pages</h3>
    <p>
        <a href="/lowcarbon/edit">
            <button class = "btn btn-md btn-warning">Edit Low Carbon Database Page</button>
        </a>
        <a href="/zh/lowcarbon/edit" class="float-right">
            <button class = "btn btn-md btn-warning">编辑中文低碳数据库页面</button>
        </a>
    </p>
    <p>
        <a href="/expert/edit">
            <button class = "btn btn-md btn-warning">Edit Expert Database Page</button>
        </a>
        <a href="/zh/expert/edit" class="float-right">
            <button class = "btn btn-md btn-warning">编辑中文专家数据库页面</button>
        </a>
    </p>
    <p>
        <a href="/research/edit">
            <button class = "btn btn-md btn-warning">Edit Research Page</button>
        </a>
        <a href="/zh/research/edit" class="float-right">
            <button class = "btn btn-md btn-warning">编辑中文国际视角页面</button>
        </a>
    </p>
    <hr>
    <h3>Edit About Us Pages</h3>
    <p>
        <a href="/introduction/edit">
            <button class = "btn btn-md btn-warning">Edit Introduction Page</button>
        </a>
        <a href="/zh/introduction/edit" class="float-right">
            <button class = "btn btn-md btn-warning">编辑中文IFCE简介页面</button>
        </a>
    </p>
    <p>
        <a href="/staff/edit">
            <button class = "btn btn-md btn-warning">Edit Staff and Offices Page</button>
        </a>
        <a href="/zh/staff/edit" class="float-right">
            <button class = "btn btn-md btn-warning">编辑工作人员及办事处页面</button>
        </a>
    </p>
    <p>
        <a href="/directors/edit">
            <button class = "btn btn-md btn-warning">Edit Board of Directors Page</button>
        </a>
        <a href="/zh/directors/edit" class="float-right">
            <button class = "btn btn-md btn-warning">编辑理事会理事页面</button>
        </a>
    </p>
    <p>
        <a href="/partners/edit">
            <button class = "btn btn-md btn-warning">Edit Partners and Supporting Group Page</button>
        </a>
        <a href="/zh/partners/edit" class="float-right">
            <button class = "btn btn-md btn-warning">编辑主要合作伙伴页面</button>
        </a>
    </p>
     <p>
        <a href="/friends/edit">
            <button class = "btn btn-md btn-warning">Edit Friends of IFCE Page</button>
        </a>
        <a href="/zh/friends/edit" class="float-right">
            <button class = "btn btn-md btn-warning">编辑国际中国环境基金会大事件页面</button>
        </a>
    </p>
     <p>
        <a href="/committee/edit">
            <button class = "btn btn-md btn-warning">Edit Advisory Committee Page</button>
        </a>
        <a href="/zh/committee/edit" class="float-right">
            <button class = "btn btn-md btn-warning">编辑顾问委员会页面</button>
        </a>
    </p>
    <hr>
    <p>
        <a href="/logout">
            <button class = "btn btn-lg btn-danger">Log out</button>
        </a>
    </p>
    
</div>

<% include partials/footer %>