<% include partials/header %>


<div class="container">
    <h1>This is the admin page</h1>
    <p>You can manage programs and other messages here!</p>
    <p>
        <a href="/programs/new">
            <button class = "btn btn-md btn-primary">Add New Program</button>
        </a>
    </p>
    <p>
        <a href="/logout">
            <button class = "btn btn-md btn-warning">Log out</button>
        </a>
    </p>
    
</div>

<% include partials/footer %>