<% include partials/header %>


<div class="container">
    <h1>This is the admin page</h1>
    <p>You can manage programs and other messages here!</p>
    <p>
        <a href="/programs/new">
            <button class = "btn btn-lg btn-primary">Add New Program</button>
        </a>
    </p>
    <p>If you would like to edit or </p>
    <hr>
    <h3>Edit IFCE Resources Pages</h3>
    <p>
        <a href="/lowcarbon/edit">
            <button class = "btn btn-lg btn-warning">Edit Low Carbon Database Page</button>
        </a>
    </p>
    <p>
        <a href="/expert/edit">
            <button class = "btn btn-lg btn-warning">Edit Expert Database Page</button>
        </a>
    </p>
    <p>
        <a href="/research/edit">
            <button class = "btn btn-lg btn-warning">Edit Research Page</button>
        </a>
    </p>
    <hr>
    <h3>Edit About Us Pages</h3>
    <p>
        <a href="/introduction/edit">
            <button class = "btn btn-lg btn-warning">Edit Introduction Page</button>
        </a>
    </p>
    <p>
        <a href="/staff/edit">
            <button class = "btn btn-lg btn-warning">Edit Staff and Offices Page</button>
        </a>
    </p>
    <p>
        <a href="/directors/edit">
            <button class = "btn btn-lg btn-warning">Edit Board of Directors Page</button>
        </a>
    </p>
    <p>
        <a href="/partners/edit">
            <button class = "btn btn-lg btn-warning">Edit Partners and Supporting Group Page</button>
        </a>
    </p>
     <p>
        <a href="/friends/edit">
            <button class = "btn btn-lg btn-warning">Edit Friends of IFCE Page</button>
        </a>
    </p>
     <p>
        <a href="/committee/edit">
            <button class = "btn btn-lg btn-warning">Edit Advisory Committee Page</button>
        </a>
    </p>
    <hr>
    <p>
        <a href="/logout">
            <button class = "btn btn-lg btn-danger">Log out</button>
        </a>
    </p>
    
</div>

<% include partials/footer %>