<h1>This is secret register page!</h1>

<form action = "/secretregister" method = "POST">
    <input type = "text" placeholder = "username" name = "username">
    <input type = "password" placeholder = "password" name = "password">
    <button>Submit!</button>
</form>